*{
    margin:0;
    padding:0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

ul,ol{
    list-style:none;
}
img {
    display: block;
}
/*清除浮动*/
.clearfix:after,
.clearfix:before {
    content: "";
    display: block;
    clear: both;
}
/*版心*/
.w {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.index {
    padding-top: 108px;
}
/*浮动*/
.fl {
    float: left;
}
.fr {
    float: right;
}
a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    display: block;
}

header {
    width: 100%;
    height:108px;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    margin-left: -600px;
    top: 0;
    background-color: #fff;
    z-index: 100;
}
header ul{
    display: flex;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
header ul li {
    flex: 1;

    line-height: 68px;
    text-align: center;
    position: relative;
}
header ul li a{
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
    color: #000;
}
header ul li i{
    width: 80px;
    height:80px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform:scale(2);
    opacity: 0;
    transition:all 0.3s 0.1s ease-in;
}
header ul li .icon{
    font-size: 60px;
    margin-top: 5px;
    line-height:80px;
    text-align: center;
    color: #f00;

}
header ul .seal{
    transform:scale(1);
    transition:all 0.2s  ease-in;
    opacity: .1;
}
.logo {
    width: 218px;
    height: 100%;
}
.logo h1 {
    width: 218px;
    height: 100%;
}
.logo a{
    width: 218px;
    display: block;
    height: 100%;
}
.logo img{
    height:100%;
    margin: 0 auto;
}

footer {
    height: 408px;
    padding-top: 90px;
    box-sizing: border-box;
}
footer .main {
    width: 488px;

    padding: 0 36px;
    box-sizing: border-box;
    margin: 0 auto;


}
footer .main .qr{
    flex: 1;
}
footer .main .logo{
    flex: 1;
    margin-top: 20px;
    border-right: 1px solid #ccc;
    padding-right: 20px;
}
footer .main .qr img{
    margin: 0 auto;
}
footer .main .qr p{
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}
footer .main .logo_box{
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: flex;
}

footer ul {
    width: 100%;
    display: flex;
    margin:20px 0;
}
footer ul li {
    flex: 1;
}
footer .copyright {
    text-align: center;
    color: #737373;
}


/* loading */

.loading_out {
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -100px;
}

.loading img {
    margin: 0 auto 15px;
}

.loading_c {
    width: 350px;
    height: 6px;
    background: #fff;
    border: 5px solid #f00;
}

.loading_c span {
    display: block;
    height: 6px;
    max-width: 100%;
    background: #f00;
}

.loading_c em {
    position: absolute;
    top: 230px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    border: 10px solid transparent;
    border-top: 10px solid #f00;
}

.loading p {
    margin-top: 20px;
    text-align: center;
    color: #db2d2d;
}











