.banner{
    height: 505px;
    overflow: hidden;
}
.banner .wrap {
    width: 300%;
}
.banner .wrap .slide {
    width: 1200px;
    height: 505px;
    float: left;
}
/*明星栏 star*/
.star{
    height: 300px;
}
h2{

    font-size: 34px;
    text-align: center;
}
.star ul {
    display: flex;
    height:160px;
}
.star ul li {
    flex: 1;
    height:160px;
}
.star ul li a {
    width: 150px;
    height:160px;
    margin: 0 auto;
    transition:all 1s;
}
.star .pic{
    width: 114px;
    height: 114px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    transition:all 1s;
}
.star p {
    text-align: center;
    margin-top:20px;
}
.star a:hover{
    transform:scale(1.2);
    transition:all 1s;
}
.star a:hover span {
    box-shadow: 0 0 10px #8a8888;
    transition:all 1s;
}
/*迪斯尼资讯 star*/

/*news*/
.news .main{
    height: 710px;
    display: flex;
    border :1px solid #ccc
}
.news .main .big {
    flex: 1;
    border-right:1px solid #ccc;
    /*opacity:0;*/
    position: relative;
    transition: all .2s;
}
.news .main .big:hover {
    box-shadow: 0 0 10px #8c8888;
    transition: all .2s;
    z-index:10;
}
.news .main .big .text {
    width: 100%;
    padding: 50px 50px 0 50px;
    box-sizing: border-box;
}
.news .main .big .text .tit {
    color: #333;
    font-size: 30px;
    line-height: 36px;
}
.news .main .big .text .txt {
    color: #333;
    margin-top: 20px;
}
.news .main ul{
    flex:1;
}
.news .main ul li {
    width: 50%;
    float: left;
    position: relative;
    transition: all .2s ;
    /*opacity:0;*/
}
.news .main ul li:hover {
    box-shadow: 0 0 10px #000;
    transition: all .2s;
    z-index:10;
}
.sj {
    border:15px solid transparent;
    border-bottom: 15px solid #fff;
}
.news .main ul li .sj {
    position: absolute;
    left: 40px;
    top:-30px;
}
.news .main ul li .text {
    width:100%;
    height: 178px;
    padding: 30px 30px 0 30px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.news .main ul li .text .tit{
    color: #333;
    font-size: 18px;
    font-weight: bold;
}
.news .main ul li .text .txt {
    color: #333333;
    font-size: 14px;
    margin-top: 15px;
}
.news .main ul li:nth-child(3) {
    width: 100%;
}
.news .main ul li:nth-child(3) .sj {
    border:15px solid transparent;
    border-right: 15px solid #fff;
    left: -30px;
    top:40px;
}
.news .main ul li:nth-child(3) .text {
    float: right;
    width: 50%;
    border:0;
    height: 100%;
}

/*中------ender  结束*/


/*授权商品 shop---- end---- 结束 */


/*迪斯尼乐园*/
.happyArea{
    padding-top: 50px;
}
.happyArea_title{
    text-align: center;
    font-size: 34px;
    line-height: 35px;
    font-weight: bold;
    margin-bottom: 40px;
}

/*上------start  开始*/
.h_happyArea dt{
    width: 600px;
    height: 598px;
    overflow: hidden;
    border: 1px solid #dcdcdc;
    position: relative;
}
.h_happyArea dt:hover{
    position: relative;
    z-index: 2;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    
}
.h_happyArea dd{
    width: 298px;
    height: 298px;
    overflow: hidden;
    border: 1px solid #dcdcdc;
    margin-left: -1px;
    margin-bottom: -1px;
    position: relative;
}
.h_happyArea dd:hover{
    position: relative;
    z-index: 2;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}
.h_happyArea .fz img{
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s linear;
}
.h_happyArea .fz img:nth-child(1) {
    z-index: 1;
    
    backface-visibility: hidden;
}

.h_happyArea .fz:hover img {
    transform: rotateY(180deg);
}



.h_happyArealeft {
    position: absolute;
    left: 67px;
    bottom: 45px;
}
.h_happyArealeft h4{
    font-size: 30px;
    font-weight: normal;
}
.h_happyArealeft h4 a{
    font-size: 30px;
    color: #fff;
}
.h_happyArearight{
    padding: 0 20px;
}
/*上------ender  结束*/
/*迪斯尼电影*/
.movie{
    height: 1340px;
    background-color:rosybrown;
}
/*更多影视资讯*/
.moreFilmNew{
    height: 615px;
    background-color:deeppink;
}
/*iconfont--css*/
/*@font-face {*/
    /*font-family: 'iconfont';*/
    /*src: url('../font/iconfont.eot');*/
    /*src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('../font/iconfont.woff') format('woff'),*/
    /*url('../font/iconfont.ttf') format('truetype'),*/
    /*url('../font/iconfont.svg#iconfont') format('svg');*/
/*}*/

/*.iconfont{*/
    /*font-family:"iconfont" !important;*/
    /*font-size:16px;font-style:normal;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-webkit-text-stroke-width: 0.2px;*/
    /*-moz-osx-font-smoothing: grayscale;*/
/*}*/
